<p id="notice"><%= notice %></p>

<p>
  <strong>Event Creator:</strong>
  <%= @event.creator.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<h4>Attendees</h4>
<ul>
<% @event.attendees.each do |attendee| %>
 <li> <%= attendee.email %> </li>
<% end %>
</ul>
<%= form_with url: event_attendees_path, method: :post do |form| %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <%= form.submit 'Attend Event' %>
<% end %>

<%= %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
